@media (max-width: 1200px) {
/* HERO SECTION FOR TABLET: START */
    .hero-section {
        width: 690px;
    }
    .hero-section .headline {
        font-size: 38px;
    }
    .hero-section .subline {
        font-size: 16px;
    }
    .getstarted-btn {
        width: max-content;
    }
    .analystics-num {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
    }
    .analystics-name {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    .hero-img {
        width: 330px;
        height: 330px;
    }
    .hero-box {
        width: 330px;
    }

/* HERO SECTION FOR TABLET: END */

/* TRENDING SECTION FOR TABLE: START */
    .trending-wrapper {
        padding: 40px 0;
    }
    .trending-section {
        max-width: 690px;
    }
    .trending-header {
        max-width: 690px;
    }
    .trending-header .headline {
        font-size: 28px;
    }
    .trending-header .subline {
        font-size: 16px;
    }
    .pc {
        display: none;
    }

    .tablet {
        display: flex;
    }
/* TRENDING SECTION FOR TABLE: END */

}



@media (max-width: 768px) {
/* HERO SECTION FOR MOBILE: START */
    .wrapper {
        padding: 40px 0;
    }
    .hero-section {
        max-width: 315px;
        flex-direction: column;
    }
    .hero-img {
        width: 100%;
        height: 100%;
    }
    .hero-box {
        width: 100%;
        height: 100%;
    }
    .getstarted-btn {
        display: none;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: flex;
        width: 100%;
    }
/* HERO SECTION FOR MOBILE: END */
    
/* TRENDING SECTION FOR MOBILE: START */
    .trending-header, .trending-section {
        width: 315px;
    }

    .tablet {
        display: none;
    }

    .trending-section {
        gap: 40px;
    }
/* TRENDING SECTION FOR MOBILE: START */
}