@media (max-width: 1200px) {
/* HERO SECTION FOR TABLET: START */
    .hero-section {
        width: 690px;
    }
    .hero-section .headline {
        font-size: 38px;
    }
    .hero-section .subline {
        font-size: 16px;
    }
    .getstarted-btn {
        width: max-content;
    }
    .analystics-num {
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
    }
    .analystics-name {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }
    .hero-img {
        width: 330px;
        height: 330px;
    }
    .hero-box {
        width: 330px;
    }

/* HERO SECTION FOR TABLET: END */

/* TRENDING SECTION FOR TABLET: START */
    .trending-wrapper {
        padding: 40px 0;
    }
    .trending-section {
        max-width: 690px;
    }
    .trending-header {
        max-width: 690px;
    }
    .trending-header .headline {
        font-size: 28px;
    }
    .trending-header .subline {
        font-size: 16px;
    }
    .pc {
        display: none;
    }

    .tablet {
        display: flex;
    }
/* TRENDING SECTION FOR TABLET: END */

/* CREATOR SECTION FOR TABLET: START */
    .creator-section {
        align-items: center;
    }
    .creator-bottom, .creator-top {
        width: 690px;
    }

    .creator-bottom {
        margin-top: 40px;
    }
    .creator-header .headline {
        font-size: 28px;
    }
    .creator-header .subline {
        font-size: 16px;
    }

    .flexbox {
        flex-direction: row;
    }

    .creator-container {
        width: calc((100% - 50%) - 15px);
        align-items: flex-start;
        flex-direction: row;
    }

    .creator-container img {
        width: 60px;
        height: 60px;
    }
    .creator-info {
        align-items: flex-start;
    }

    .number-box {
        left: 12px;
        top: 13px;
    }
    .creator-analystics {
        min-width: auto;
        gap: 5px;
    }
/* CREATOR SECTION FOR TABLET: END */

/* CATEGORIES SECTION FOR TABLET: START */
    .categories-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 690px;
        padding: 40px 0;
    }
    .categories-container {
        justify-content: center;
    }

    .categories-header {
        
        width: 100%;
        display: flex;
    }

    .categories-wrapper .headline {
        width: 100%;
        font-size: 28px;

    }
    .categories-img {
        width: 150px;
    }
    .categories-name {
        font-size: 16px;
        padding: 20px 20px 25px 20px;

    }

    .minus-fz {
        font-size: 15px
    }
/* CATEGORIES SECTION FOR TABLET: END */

/* DISCOVER SECTION FOR TABLET: START */
    .discover-wrapper {
        width: 690PX;
        margin: auto;
        padding: 40px 0 80px 0;
    }

    .nfts-box {
        width: 690px;
    }

    .discover-wrapper .mobile {
        display: none;
    }

    .discover-header .headline {
        font-size: 28px
    }
    
    .discover-header .subline {
        font-size: 16px;
    }

    .nfts-flexbox-mobile, .nfts-flexbox-pc {
        display: none;
    }
/* DISCOVER SECTION FOR TABLET: END */

/* COUNTDOWN SECTION FOR TABLET: START */
    .countdown-container {
        width: 670px;
    }
    .nft-inform .headline {
        font-size: 38px;
    }
/* COUNTDOWN SECTION FOR TABLET: END */
}



@media (max-width: 768px) {
/* HERO SECTION FOR MOBILE: START */
    .wrapper {
        padding: 40px 0;
    }
    .hero-section {
        max-width: 315px;
        flex-direction: column;
    }
    .hero-img {
        width: 100%;
        height: 100%;
    }
    .hero-box {
        width: 100%;
        height: 100%;
    }
    .getstarted-btn {
        display: none;
    }

    .pc {
        display: none;
    }

    .mobile {
        display: flex;
        width: 100%;
    }
/* HERO SECTION FOR MOBILE: END */
    
/* TRENDING SECTION FOR MOBILE: START */
    .trending-header, .trending-section {
        width: 315px;
    }

    .tablet {
        display: none;
    }

    .trending-section {
        gap: 40px;
    }
/* TRENDING SECTION FOR MOBILE: END */

/* CREATOR SECTION FOR MOBILE: START */
    .creator-section {
        align-items: center;
    }
    .creator-bottom, .creator-top {
        width: 315px;
    }
    .creator-header .headline {
        font-size: 28px;
    }
    .creator-header .subline {
        font-size: 16px;
    }

    .flexbox {
        flex-direction: row;
    }

    .creator-container {
        width: 100%;
        align-items: flex-start;
        flex-direction: row;
    }

    .creator-container:hover {
        transform: scale(0.95);
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .creator-container img {
        width: 60px;
        height: 60px;
    }
    .creator-info {
        align-items: flex-start;
    }

    .number-box {
        left: 12px;
        top: 13px;
    }
    .rankings-btn {
        width: 100%;
    }
    .rankings-btn-box-mobile {
        display: flex;
        width: 100%;
    }
/* CREATOR SECTION FOR MOBILE: END */

/* CATEGORIES SECTION FOR MOBILE: START */
    .categories-wrapper {
        width: 315px;
    }

    .categories-flexitem {
        width: calc(100% - 50% - 20px);
    }
    .categories-img {
        width: 100%;
    }
    .categories-container {
        gap: 20px;
    }
    .sport-catogory {
        padding-bottom: 44.62px;
    }
/* CATEGORIES SECTION FOR MOBILE: END */

/* DISCOVER SECTION FOR MOBILE: START */
    .discover-wrapper {
        width: 375px;
        margin: auto;
        padding: 40px 0 80px 0;
    }

    .nfts-box {
        flex-direction: column;
        align-items: center;
        width: 375px;

    }

    .nfts-flexbox, .nft-image, .nfts-flexbox-mobile {
        width: 100%;
    }
    .nfts-flexbox-mobile {
        display: block;
        border-radius: 20px;
        background: #3B3B3B;
    }

    .see-all-btn {
        justify-content: center;
    }
/* DISCOVER SECTION FOR MOBILE: END */

/* COUNTDOWN SECTION FOR MOBILE: START */


    .countdown-container {
        flex-direction: column;
        gap: 30px;

        width: 315px;
    }

    .see-nft-btn-mobile {
        width: 100%;
        align-self: stretch;
        justify-content: center;
        padding: 22px 55px;
        display: flex;
        gap: 12px;
        background: white;
        border-radius: 20px;
    }

    .countdown-box {
        width: 100%;
    }

    .countdown-container .pc {
        display: none;
    }
/* COUNTDOWN SECTION FOR MOBILE: END */
}