:root {
    --white: #fff;
}

/* HEADER SECTION CSS: START */

/* HEADER SECTION CSS: START */

.container {
    background: #2b2b2b;
}

.wrapper {
    padding: 80px 0;
}
.hero-section {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto;
}

.hero-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.hero-section .headline, .hero-section .subline, .trending-header .headline, .trending-header .subline {
    color: var(--white);
    font-weight: 400;
    line-height: 160%;
    font-size: 22px;
}

.hero-section .headline, .trending-header .headline {
    font-size: 67px;
    font-weight: 600;
    line-height: 110%;
}

.getstarted-btn {
    display: flex;
    color: var(--white);
    background: #A259FF;
    border-radius: 20px;
    width: max-content;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    height: 60px;
    gap: 12px;
}

.hero-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.analystics {
    color: var(--white);
    display: flex;
    gap: 30px;
    width: 100%;
}

.analystics .aditional-info {
    flex: 1;
}

.hero-box {
    width: 510px;
}

.hero-info {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background: #3B3B3B;
    border-radius: 0px 0px 20px 20px;

}

.nft-name, .nft-owner {
    color: var(--white);
}

.nft-owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.nft-name {
    font-size: 22px;
font-weight: 600;
line-height: 140%; /* 30.8px */
text-transform: capitalize;
}

.analystics-num {
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 700;
line-height: 140%; 
}

.analystics-name {
    font-size: 23.99px;
    font-weight: 400;
    line-height: 160%;
}

.getstarted-btn-mobile {
    display: none;
}

.pc {
    display: flex;
}

.mobile {
    display: none;
}

/* TRENDING CSS: START */

.trending-wrapper {
    padding: 80px 0;
}

.trending-section {
    display: flex;
    margin: auto;
    max-width: 1050px;
    flex-direction: column;
    gap: 60px;
}

.trending-header {
    max-width: 1046px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.trending-image {
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    gap: 30px;
}

.trending-image-cover {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.secondary-image-cover {
    display: flex;
    gap: 15px;
}

.more-info-box {
    padding: 32px 15px;
    text-decoration: none;
    color: var(--white);
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #A259FF;
    font-family: "Space Mono";
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
    flex: 1 0 0;
}
.nft-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nft-owner-box {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.tablet {
    display: none;
}

/* TRENDING CSS: END */

/* CREATOR CSS: END */
.creator-wrapper {
    padding: 80px 0;
}

.creator-section {
    margin: auto;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
}

.creator-top {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-end;
}

.creator-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.creator-header .headline, .creator-header .subline {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
}

.creator-header .headline {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
}

.rankings-btn-box {
    flex: 1;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.rankings-btn {
    display: flex;
    height: 60px;
    color: var(--white);
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid var(--Call-to-Action, #A259FF);
}

.creator-bottom {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    margin-top: 60px;
}

.flexbox {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.creator-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: #3B3B3B;
    width: calc((100% - 75%) - 40px);
    position: relative;
}

.creator-container:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}

.creator-container:hover {
    cursor: pointer;
}

.number-box {
    background: var(--Background, #2B2B2B);
    justify-content: center;
    position: absolute;
    left: 20px;
    top: 18px;
    display: flex;
    width: 30px;
    padding: 7px;
    border-radius: 20px;
}

.creator-num {
    color: #858584;
}

.creator-info {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.creator-analystics {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 188px;
}

.creator-info .creator-name, .creator-info .analystics-name, .creator-info .analystics-num {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.creator-info .analystics-name {
    color: #858584;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    min-width: 90px;
}

.creator-info .analystics-num {
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.rankings-btn-box-mobile {
    display: none;
}