:root {
    --white: #fff;
}

/* BUTTON HOVER FIXED */
a:hover, button:hover, .hero-img:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}

/* HEADER SECTION CSS: START */

.container {
    background: #2b2b2b;
}

.wrapper {
    padding: 80px 0;
}
.hero-section {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: auto;
}

.hero-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-text {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.hero-section .headline, .hero-section .subline, .trending-header .headline, .trending-header .subline {
    color: var(--white);
    font-weight: 400;
    line-height: 160%;
    font-size: 22px;
}

.hero-section .headline, .trending-header .headline {
    font-size: 67px;
    font-weight: 600;
    line-height: 110%;
}

.getstarted-btn {
    display: flex;
    color: var(--white);
    background: #A259FF;
    border-radius: 20px;
    width: max-content;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    height: 60px;
    gap: 12px;
}

.hero-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
}

.analystics {
    color: var(--white);
    display: flex;
    gap: 30px;
    width: 100%;
}

.analystics .aditional-info {
    flex: 1;
}

.hero-box {
    width: 510px;
}

.hero-info {
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background: #3B3B3B;
    border-radius: 0px 0px 20px 20px;

}

.nft-name, .nft-owner {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    font-weight: 400;
line-height: 140%;
}

.nft-owner {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.nft-name {
    font-size: 22px;
font-weight: 600;
line-height: 140%; /* 30.8px */
text-transform: capitalize;
}

.analystics-num {
    font-family: "Space Mono";
    font-size: 28px;
    font-weight: 700;
line-height: 140%; 
}

.analystics-name {
    font-size: 23.99px;
    font-weight: 400;
    line-height: 160%;
}

.getstarted-btn-mobile {
    display: none;
}

.pc {
    display: flex;
}

.mobile {
    display: none;
}

/* TRENDING CSS: START */

.trending-wrapper {
    padding: 80px 0;
}

.trending-section {
    display: flex;
    margin: auto;
    max-width: 1050px;
    flex-direction: column;
    gap: 60px;
}

.trending-header {
    max-width: 1046px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.trending-image {
    display: flex;
    flex-direction: row;
    max-width: 1050px;
    gap: 30px;
}

.trending-image-cover {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.secondary-image-cover {
    display: flex;
    gap: 15px;
}

.more-info-box {
    padding: 32px 15px;
    text-decoration: none;
    color: var(--white);
    height: 100px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: #A259FF;
    font-family: "Space Mono";
    font-size: 22px;
    font-weight: 700;
    justify-content: center;
    flex: 1 0 0;
}
.nft-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nft-owner-box {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}

.tablet {
    display: none;
}

/* TRENDING CSS: END */

/* CREATOR CSS: START */
.creator-wrapper {
    padding: 80px 0;
}

.creator-section {
    margin: auto;
    max-width: 1050px;
    display: flex;
    flex-direction: column;
}

.creator-top {
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: flex-end;
}

.creator-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.creator-header .headline, .creator-header .subline {
    color: var(--white);
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
}

.creator-header .headline {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
}

.rankings-btn-box {
    flex: 1;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.rankings-btn {
    display: flex;
    height: 60px;
    color: var(--white);
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid var(--Call-to-Action, #A259FF);
}

.creator-bottom {
    max-width: 1050px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    margin-top: 60px;
}

.flexbox {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.creator-container {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: #3B3B3B;
    width: calc((100% - 76%) - 12px);
    position: relative;
}

.creator-container:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}

.creator-container:hover {
    cursor: pointer;
}

.number-box {
    background: var(--Background, #2B2B2B);
    justify-content: center;
    position: absolute;
    left: 20px;
    top: 18px;
    display: flex;
    width: 30px;
    padding: 7px;
    border-radius: 20px;
}

.creator-num {
    color: #858584;
}

.creator-info {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.creator-analystics {
    display: flex;
    flex-direction: row;
    gap: 10px;
    min-width: 188px;
}

.creator-info .creator-name, .creator-info .analystics-name, .creator-info .analystics-num {
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.creator-info .analystics-name {
    color: #858584;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    min-width: 90px;
}

.creator-info .analystics-num {
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%;
}

.rankings-btn-box-mobile {
    display: none;
}

/* CREATOR CSS: START */


/* CATEGORIES CSS: START */
.categories-wrapper {
    width: 1050px;
    margin: auto;
    padding: 80px 0;
}

.categories-wrapper .headline {
    align-self: stretch;
    color: var(--white);
    font-size: 38px;
    font-weight: 600;
    line-height: 120%; 
    text-transform: capitalize;
}

.categories-container {
    margin-top: 60px;
    display: flex;
    gap: 30px;
    align-self: stretch;
    align-items: flex-start;
    flex-wrap: wrap;
}

.categories-flexitem {
    border-radius: 20px;
    background: #3B3B3B;
    display: flex;
    flex-direction: column;
    
}

.categories-flexitem:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}

.categories-img {
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
}

.categories-img {
    position: relative;
}

.categories-img .blur-layout {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    backdrop-filter: blur(7.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.categories-name {
    padding: 20px 30px 25px;
    color: var(--white);
    font-size: 22px;
    align-self: stretch;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
/* CATEGORIES CSS: END */

/* Discover More NFTs CSS: START */
.discover-wrapper {
    width: 1050px;
    margin: auto;
    padding: 80px 0;
}

.discover-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover-header .header {
    align-self: stretch;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

.discover-header .headline, .discover-header .subline {
    color: var(--white);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    width: 100%;
    align-self: stretch;
}

.discover-header .headline {
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
}

.see-all-btn {
    font-size: 16px;

    padding: 0 50px;
    color: white;
    display: flex;
    width: 209px;
    align-items: center;
    height: 60px;
    border-radius: 20px;
    border: 2px solid var(--Call-to-Action, #A259FF);
    gap: 12px;
}

.see-all-btn:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}

.nfts-box {
    width: 1050px;
    margin-top: 60px;
    display: flex;
    gap: 30px;
    
}

.nfts-flexbox, .nfts-flexbox-pc, .nfts-flexbox-mobile {
    width: auto;
    height: auto;
    border-radius: 20px;
    background: #3B3B3B;
}

.nfts-flexbox:hover {
    transform: scale(0.95);
    cursor: pointer;
    transition: all 0.3s ease;
}


.nfts-flexbox img {

}

.nfts-information-box {
    padding: 20px 30px 25px 30px;
    display: flex;
    gap: 25px;
    flex-direction: column;
}

.information-nfts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.owner-nfts {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.nft-name {
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    font-family: "Space Mono";
}

.price-containter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nfts-infomation-box {
    color: var(--white);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.nfts-infomation-box p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #858584;
}

.nfts-information-box h6 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: "Space Mono";
}
.highest-bid {
    align-items: flex-end;
}

.discover-wrapper .mobile, .nfts-flexbox-mobile {
    display: none;
}
/* Discover More NFTs CSS: END */

/* COUNTDOWN CSS: START */

.countdown-wrapper {
    position: relative;
    width: 100%;
    height: 567px;
    background: url("./image/countdown-section/NFT Highlight.png") lightgray 50% / cover no-repeat;
}

.countdown-container {
    position: absolute;
    bottom: 60px;
    display: flex;
    width: 1050px;
    left: 50%;
    transform: translateX(-50%);
}

.nft-inform {
    display: flex;
    gap: 30px;
    width: 100%;
    flex-direction: column;
}

.nft-inform .headline {
    color: var(--white);
    font-size: 51px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    align-self: stretch;
}

.nft-inform .see-nft-btn {
    padding: 22px 55px;
    display: flex;
    gap: 12px;
    width: fit-content;
    background: white;
    border-radius: 20px;
    align-self: stretch;

    align-items: center;
}

.countdown-box {
    display: flex;
    width: 295px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
}

.bid-annouce-box {
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.bid-annouce {
    font-family: "Space Mono";
    font-size: 12px;
    width: 100%;
    height: fit-content;
    font-style: normal;
    font-weight: 400;
    color: var(--white);
    line-height: 110%;
    align-self: stretch;
}

.countdown-flexbox {
    display: flex;
    gap: 10px;
    color: var(--white);
}

.time {
    font-family: "Space Mono";
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.db-dot {
    font-family: "Space Mono";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.unit {
    font-family: "Space Mono";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.bid-time {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* COUNTDOWN CSS: END */
